<!-- Start cover -->
<div class="all">
    <div class="firstPart">
        <div class="cover mt-4">
            <div class="text text-center">
              <h1> </h1>
              <br>
              <div class="book">{{'about.welcome'|translate}}</div>
            </div>
          </div>
  
      <!-- Start about -->
      <div class="about container ">
        <h1>{{'about.title'|translate}}</h1>
        <div class="font-weight-bold offer">
          {{'about.details'|translate}}
        </div>
        <div class="font-weight-bold mt-2 offer">
            <hr>
        <h2 class="namm"> 
          {{'about.comptitle'|translate}}
            <br>
            <!-- ******************************************<br> -->
        </h2>  {{'about.compdetail'|translate}}
                      </div>
                    <div class="font-weight-bold mt-2 offer">
                        <hr>
                    <h2 class="namm"> 
                      {{'about.infotitle'|translate}}
                         <br>
                        <!-- ******************************************<br> -->
                    </h2> 
                    {{'about.infodetails'|translate}}
               </div>
      </div>
      
      <!-- End about -->
      <!--Start mission-->
      <div class="mission">
        <div class="text text-center pt-5">
          <h1> {{'about.condetails'|translate}}</h1>
          <div class="font-weight-bold offer empower mt-3 mb-2">
            {{'about.relax'|translate}}
          </div>
          <div class="discover travel mt-4">
            
          </div>
        </div>
      </div>
      <!--End mission-->
    </div>
  </div>
  