.btnColor{

    background-color: #4f546777;
}

.iconColor{
    color: white;
    font-size: 13px;

}

.btnEdirColor{
    background-color: #E46A76;
    width: 100%;
    margin: 0;
}

.fas{
    color: white;
    font-size: 16px;
}



