
<header>
   <!-- <div class="row"> -->
<div class="WelcomeText col-5 ">
<button class=" btn btn-lg btn-info mm " (click)="full()">تأمين شامل</button>
<button class=" btn btn-lg btn-danger " (click)="third()">تأمين ضد الغير</button>
<div class="pp w-100">
<h1>Ibn AL-Haitham Car Insurance Company</h1>
  <h2 dir="rtl">اسم المشروع : Implementation Of Car Insurance Management System 
    <!-- <br> -->
</h2>
<h2 dir="rtl">اعداد الطلبة<br>
   
 <span> 1 : محمد قحطان خليفة كاظم</span>

  <br> 
 <span style="margin-left: 15px;"> 2 : علي محمد عبيد غزاي</span>
  <br>
  <br>  بأشراف الاستاذ : م.د احمد صبيح توفيق</h2>
</div>
</div>
<!-- <div class="col-5 pp">
  <p> car insurance</p>
  <p> car insurance</p>
</div> -->
<!-- </div> -->
</header>