<!-- Start cover -->
<div class="all">
    <div class="firstPart">
      <div class="cover">
        <div class="text text-center">
          <h1>{{'conect.title'|translate}}</h1>
        </div>
      </div>
  
      <!-- Start FAQs -->
      <div class="faqs container">
        <h1>{{'conect.conecthead'|translate}}</h1>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-10 how">
            <div>
              <p >{{'conect.mail'|translate}}</p>
            </div>
            <div>
              <a >Mohq418@gmail.com</a>
            </div>
            <div>
              <a >alimohammedobeid@gmail.com </a>
            </div>
            <div>
              <a ></a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 arrow">
            <div><i class="fas fa-chevron-right"></i></div>
            <div><i class="fas fa-chevron-right"></i></div>
            <div><i class="fas fa-chevron-right"></i></div>
            <div><i class="fas fa-chevron-right"></i></div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-10 how">
            <div>
            </div>
            <div>
              <p >
                {{'conect.toconnect'|translate}}
            </p>
            </div>
            <div>
              <a >07707934952</a>
            </div>
            <div>
              <a >
                07825564644
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 arrow">
            <div><i class="fas fa-chevron-right"></i></div>
            <div><i class="fas fa-chevron-right"></i></div>
            <div><i class="fas fa-chevron-right"></i></div>
            <div><i class="fas fa-chevron-right"></i></div>
          </div>
        </div>
      </div>
      <!-- End FAQs -->
    </div>
   
  </div>
  